.photo{
  float: left;
  width: 30%;

}
.photo > img{
    width:205px;
    height:20%;
}
.photo, .FQ{
    margin-top:5%;
    text-align: center;
    margin-bottom: 5%;
    
}
.FQ{
 float: left;
 width: 60%;
 height: 20%;
 margin-left: 5%;
 border: 1px solid rgb(50, 50,50); 
 background-color: rgb(50, 50,50);
}
body{
background-color:rgb(35, 94, 112);
color: rgb(228, 228, 228);
}
.main
{
   width: 50%;
   height: 100%;
   box-shadow:  0 0 10px rgba(0,0,0,0.5);
   margin-left: 25%;
}
.main_wr
{
   width: 50%;
   height: 100%;
   box-shadow:  0 0 10px rgba(0,0,0,0.5);
   margin-left: 25%;
   text-align: center;
}
.main_wr > ul > li{
    list-style-type: none;
}
.main_wr > ul{
 margin-left: 0; 
 padding-left: 0;
}
.works{
    padding-top: 15px;
    margin-left:4%;
    clear: both;
    width: 93%;
    border: 1px solid rgb(50, 50,50);
    background-color: rgb(50, 50,50); 
}
.works > h3{
    padding-left: 3%;
}
A:link { 
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}  
A:hover {
    text-decoration: underline; /* Делает ссылку подчеркнутой при наведении на нее курсора */
    color: #FDF4E3; /* Цвет ссылки */
} 
a{
   color: rgb(228, 228, 228);
} 
A:visited { text-decoration: none; color: #FFFDD0;} 
A:active { text-decoration: none; }
