@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

html,body {
    padding: 0;
    margin: 0;
    min-height: 100%;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 30px auto 20px auto;
    padding: 15px;
}

article.primari-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

article {
    margin-bottom: 25px;
}

article.primari-info > * {
    margin: 0 10px;
}
article.primari-info > *:first-child {
    margin-left: 0;
}

article.primari-info > *:last-child {
    margin-right: 0;
}

article.primari-info .info {
    width: 30%;
    flex-grow: 1;
    max-width: 500px;
    border: 2px solid black;
    padding: 10px;
}

article.primari-info .photo {
    background: red;
    width: 300px;
    height: 300px;
    border: 3px solid;
    box-sizing: border-box;
    background-image: url(https://sun9-63.userapi.com/c856032/v856032976/1bb406/1ve66TG2HpY.jpg);
    background-size: cover;
    flex-shrink: 1;
}

article.primari-info .photo.circle {
  border-radius: 100%;
}

article.content {
    border: 2px solid black;
    padding: 0 20px;
}
article.content_wr {
   border: 2px solid black;
    padding: 0 20px;
  width: 50%;
    margin-left: 25%;
}
h1{
  text-align: center;
}

h3 {
    font-size: 24px;
}
