.photo{
  float: left;
  width: 30%;

}
.photo > img{
    width:190px;
    height:20%;
}
.photo, .FQ{
    margin-top:5%;
    text-align: center;
    margin-bottom: 5%;
    
}
.FQ{
 float: left;
 width: 50%;
 height: 20%;
 border: 1px solid black; 

}
body
{

    
}

.works{
    padding-top: 15px;
    margin-left:20%;
    clear: both;
    width: 50%;
    border: 1px solid black; 
}
